streamlit
openai
faiss-cpu
spacy==3.7.2
blis==0.7.11; platform_system == "Linux" and platform_machine == "x86_64"
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
requests
numpy==1.26.4
pandas
python-dotenv
streamlit-lottie